.wrap {
  width: 400px;
  height: 60px;
  margin-top: 10px;
  position: relative;
}
.label {
  height: 27px;
  width: 350px;
  color: black;
  font-size: 18px;
  font-weight: 400;
}
.select {
  font-family: "Montserrat", sans-serif;
  display: flex;
}
.select,
.option {
  min-height: 28px;
  width: 394px;
  color: #8d003b;
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
  border: 1px solid #1c967d;
}
@media screen and (max-width: 991px) {
  .wrap {
    width: 400px;
    margin-top: 10px;
  }
  .label,
  .select {
    height: 30px;
    font-size: 22px;
  }
  .select,
  .option {
    font-size: 20px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 639px) {
  .wrap {
    width: 60vw;
    height: 100%;
  }
  .label {
    width: 62vw;
    font-size: 22px;
  }
  .select {
    width: 62vw;
    font-size: 18px;
  }
}
