.cross {
  display: flex;
  justify-content: end;
  margin: 10px 10px 10px 0;
  position: relative;
  cursor: pointer;
}
.line1 {
  width: 0px;
  height: 27px;
  right: 14px;
  border: 1px solid #8d003b;
  transform: rotate(45deg);
  position: absolute;
}
.line2 {
  width: 27px;
  height: 0px;
  top: 14px;
  right: 0px;
  border: 1px solid #8d003b;
  transform: rotate(45deg);
  position: absolute;
}
